<launch>
  <arg name="turtlebot_address" default="192.168.43.96"/>
  <arg name="turtlebot_user" default="root"/>
  <arg name="turtlebot_password" default="123456"/>
  <arg name="env_loader_path" default="/opt/env_setup.bash"/>
  <machine name="turtlebot" address="$(arg turtlebot_address)" user="$(arg turtlebot_user)" password="$(arg turtlebot_password)" env-loader="$(arg env_loader_path)"/>

  <node machine="turtlebot" name="rplidarNode"          pkg="rplidar_ros"  type="rplidarNode" output="screen">
    <param name="serial_port"         type="string" value="/dev/ttyUSB0"/>
    <param name="serial_baudrate"     type="int"    value="115200"/><!--A1/A2 -->
    <!--param name="serial_baudrate"     type="int"    value="256000"--><!--A3 -->
    <param name="frame_id"            type="string" value="base_scan"/>
    <param name="inverted"            type="bool"   value="false"/>
    <param name="angle_compensate"    type="bool"   value="true"/>
  </node>
</launch>
